@model MinimercadoAlfredo.ViewModels.PurchaseVM
@{
    ViewBag.Title = "CreatePurchase";
}

<h2 class="text-center">Nueva Compra</h2>
<hr style="color:grey;border-color:grey" />

<h3 class="text-center">Datos Generales</h3>
<br />

<table class="table table-striped table-bordered">
    <thead>
        <tr class="text-center" style="color:white; background-color:#4d77a3">
            <th width="310px">
                Proveedor
            </th>
            <th width="200px">
                Fecha de Adquisición
            </th>
            <th>
                Comentarios
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <select class="js-example-basic-single" id="providername" style="font:small-caption; width: 250px; height: 25px;">
                    <option value="0">Seleccione un Proveedor</option>
                    @foreach (var item in ViewBag.Providers)
                    {
                        <option value="@item.IdProvider">@item.ProviderName</option>
                    }
                </select>
                <a href="" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                <span class="error">Ingrese Proveedor</span>
            </td>
            <td>
                <input type="date" class="panel-info" id="purchasedate" placeholder="dd/mm/aaaa" />
                <span class="error">Ingrese Fecha</span>
            </td>
            <td>
                <input type="text" id="purchasecomments" placeholder="Ingrese un comentario" />
            </td>
        </tr>
    </tbody>
</table>

<h3 class="text-center">Productos Adquiridos</h3>
<hr style="color:grey;border-color:grey" />

<table class="table table-striped table-bordered">
    <thead>
        <tr style="color:white; background-color:#4d77a3">
            <td width="440px">Producto</td>
            <td>Costo de Adquisición</td>
            <td>Cantidad Adquirida</td>
            <td>Importe</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <select class="js-example-basic-single" id="linedescription" style="font:small-caption; width: 380px; height: 25px;" onchange="javascript: var valor = this.options[selectedIndex].text; document.getElementById('shadow').value = valor;">
                    <option value="">Seleccione un Producto</option>
                    @foreach (var item in ViewBag.Products)
                    {
                        <option value="@item.IdProduct">@item.ProductNumber - @item.ProductDescription</option>
                    }
                </select>
                <input type="hidden" id="shadow" value="" />
                <a href="" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                <span class="error">Es necesario que ingrese un Producto</span>
            </td>
            <td>
                <input type="text" id="linecost" />
                <span class="error">Ingrese Costo</span>
            </td>
            <td>
                <input type="text" id="linequantity" />
                <span class="error">Cantidad Inválida</span>
            </td>
            <td>
                <input type="text" id="linetotal" />
                <span class="error">Ingrese Total</span>
            </td>
            <td>
                <input type="button" id="add" value="Agregar" class="btn btn-success btn-sm" style="bottom:auto" />
            </td>
        </tr>
    </tbody>
</table>

<table class="tablecontainer" style="border:none; background-color:dimgrey; ">
    <div id="orderItems" class="tablecontainer" style="border:none ; padding-top:15px">
    </div>
</table>

<table class="table">
    <tbody>
        <tr>
            <td width="200px" style="color:white; background-color:#4d77a3">
                Importe Total de Compra
            </td>
            <td style="color:white; background-color:#4d77a3">
                <input type="text" id="purchasetotal" />
                <span class="error">Ingrese Total</span>
            </td>
        </tr>
    </tbody>
</table>

<div>
    <button type="button" id="submit" class="btn btn-success" value="Guardar Compra">Guardar Compra</button>
</div>


<link href="@Url.Content("~/Content/Select2/select2.min.css")" rel="stylesheet" />
@section scripts
{

    <script src="@Url.Content("~/Content/Select2/select2.js")"></script>
    <script>
            $(document).ready(function () {
                $(".js-example-basic-single").select2();
            });

            //ESTA SECCIÓN SIRVE PARA AUTOCOMPLETAR CAMPOS, REQUIERE UN METODO EN EL CONTROLADOR (AQUÍ LO NOMBRA COMO Getproductdata)
            //$(document).ready(function () {
            //    $("#linedescription").change(function () {
            //        var options = {};
            //        options.url = "/Purchases/Getproductdata";
            //        options.type = "GET";
            //        options.data = { "product": $("#linedescription").val() };
            //        options.dataType = "json";
            //        options.success = function (data) {
            //            document.getElementById("linecost").value = data.Cost;
            //        };
            //        $.ajax(options);
            //    })
            //});

            //CALCULO AUTOMATICO DEL TOTAL DE COMPRA
            $(document).ready(function () {
                $("#linequantity").change(function () {
                    var cost = parseFloat($("#linecost").val());
                    var quantity = parseFloat($("#linequantity").val());
                    var total = cost * quantity;
                    document.getElementById("linetotal").value = total;
                })
            });

            $("#linetotal").click(function () {
                var cost = parseFloat($('#linecost').val());
                var quantity = parseFloat($('#linequantity').val());
                var total = cost * quantity;
                document.getElementById("linetotal").value = total;
            });

            //BOTÓN AGREGAR PRODUCTO Y VALIDACIONES
            $(document).ready(function () {
                var orderItems = [];
                //AQUÍ DEFINIMOS LA FUNCIÓN DEL BOTON AGREGAR PRODUCTO
                $("#add").click(function () {
                    //CONTROL DE LOS VALORES DE LA LINEA DE PRODUCTO
                    var isValidItem = true;

                    if ($("#linedescription").val().trim() == "") {
                        isValidItem = false;
                        $("#linedescription").siblings("span.error").css("visibility", "visible");
                    } else {
                        $("#linedescription").siblings("span.error").css("visibility", "hidden");
                    }

                    if ($("#linecost").val().trim() == "") {
                        isValidItem = false;
                        $("#linecost").siblings("span.error").css("visibility", "visible");
                    } else {
                        $("#linecost").siblings("span.error").css("visibility", "hidden");
                    }

                    if ($("#linequantity").val().trim() == "" | $("#linequantity").val().trim() == "0") {
                        isValidItem = false;
                        $("#linequantity").siblings("span.error").css("visibility", "visible");
                    } else {
                        $("#linequantity").siblings("span.error").css("visibility", "hidden");
                    }

                    if ($("#linetotal").val().trim() == "") {
                        isValidItem = false;
                        $("#linetotal").siblings("span.error").css("visibility", "visible");
                    } else {
                        $("#linetotal").siblings("span.error").css("visibility", "hidden");
                    }

                    //AQUÍ SE AGREGAN LOS PRODUCTOS SI SON VÁLIDOS A LA LISTA DE PRODUCTOS DEL OBJETO COMPRA QUE LUEGO RECIBE EL CONTROLADOR
                    if (isValidItem) {
                        orderItems.push({
                            IdProduct: $("#linedescription").val().trim(),
                            LineCost: $("#linecost").val().trim(),
                            LineQuantity: $("#linequantity").val().trim(),
                            LineTotal: $("#linetotal").val().trim(),
                            LineDescription: $("#shadow").val().trim()
                        });

                        //BORRAMOS LOS REGISTROS DE LA LÍNEA DE PRODUCTOS
                        $("#linedescription").val("").focus();
                        $("#linecost,#linequantity,#linetotal").val("")
                    }
                    //GENERAMOS LA TABLA DE PRODUCTOS AGREGADOS
                    GeneratedItemsTable();
                });

                //FUNCIÓN DEL BOTÓN GUARDAR COMPRA
                $("#submit").click(function () {
                    //VALIDACIONES GENERALES DE LA COMPRA
                    var isAllValid = true;
                    if (orderItems.length == 0) {
                        isAllValid = false;
                        $("#orderItems").html("<span style='color:red;'>Por favor ingrese los Productos de la Compra</span>")
                    }

                    if ($("#providername").val().trim() == "") {
                        isAllValid = false;
                        $("#providername").siblings("span.error").css("visibility", "visible");
                    } else {
                        $("#providername").siblings("span.error").css("visibility", "hidden");
                    }

                    if ($("#purchasedate").val().trim() == "") {
                        isAllValid = false;
                        $("#purchasedate").siblings("span.error").css("visibility", "visible");
                    } else {
                        $("#purchasedate").siblings("span.error").css("visibility", "hidden");
                    }

                    //GUARDAMOS SI TODO ES VÁLIDO
                    if (isAllValid) {
                        var data = {
                            ProviderName: $("#providername").val().trim(),
                            PurchaseDate: $("#purchasedate").val().trim(),
                            Comments: $("#purchasecomments").val().trim(),
                            PurchaseTotal: $("#purchasetotal").val().trim(),
                            PurchaseLines: orderItems
                        }

                        $(this).val("Espere por favor...");

                        $.ajax({
                            url: "/Purchases/Create",
                            type: "POST",
                            data: JSON.stringify(data),
                            dataType: "JSON",
                            contentType: "application/json",
                            success: function (d) {
                                //CONTROLAMOS EL GUARDADO EN LA BASE DE DATOS
                                if (d.status == true) {
                                    //SE AVISA AL USUARIO POR MEDIO DE UN ALERT
                                    alert("Su compra se ha registrado satisfactoriamente")
                                    //BORRAMOS LOS CAMPOS
                                    orderItems = [];
                                    $("#providername").val(""),
                                    $("#purchasedate").val("");
                                    $("#purchasecomments").val(""),

                                    $("#orderItems").empty();
                                } else {
                                    alert("Ha ocurrido un error, intentelo nuevamente o pongase en contacto con los desarrolladores");
                                }
                                $("#submit").val("Save");
                            },
                            error: function () {
                                alert("Ha ocurrido un error, intentelo nuevamente o pongase en contacto con los desarrolladores");
                                $("#submit").val("Save");
                            }
                        });
                    }
                });
                //FUNCIÓN PARA AGREGAR LOS PRODUCTOS EN LA TABLA
                function GeneratedItemsTable() {
                    if (orderItems.length > 0) {
                        var $table = $('<table class="table table-striped table-bordered"></table>');
                        //$table.append('<thead><tr style="color:white; background-color:#4d77a3"><th style="width:400px;">Producto</th><th>Costo</th><th>Cantidad</th><th>Importe Parcial</th></tr></thead>');
                        var $tbody = $('<tbody/>');
                        $.each(orderItems, function (i, val) {
                            var $row = $('<div class="col-md-12"></div>');
                            $row.append($('<div class="col-md-5" background-color:#f9f9f9;"></div>').html(val.LineDescription));
                            $row.append($('<div class="col-md-2" background-color:#f9f9f9;"></div>').html(val.LineCost));
                            $row.append($('<div class="col-md-2" background-color:#f9f9f9;"></div>').html(val.LineQuantity));
                            $row.append($('<div class="col-md-2" background-color:#f9f9f9;"></div>').html(val.LineTotal));
                            var $remove = $('<a href="#">Eliminar</a>');

                            $remove.click(function (e) {
                                e.preventDefault();
                                orderItems.splice(i, 1);
                                GeneratedItemsTable();
                            });
                            $row.append($('<div class="col-md-1" background-color:#f9f9f9;"></div>').html($remove));
                            $tbody.append($row);
                        });
                        $table.append($tbody);
                        $('#orderItems').html($table);
                    } else {
                        $('#orderItems').html('');
                    }
                }

            });


    </script>
}

<style>
    span.error {
        display: block;
        visibility: hidden;
        color: red;
        font-size: 90%;
    }
</style>
